body {
    background-color: #aa3d3d;
}
h1{
    color: #aa3d3d;
}
p{
    color: #aa3d3d;
}
.container {
        max-width: 900px;
        margin: 30px auto;
        background: white;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .header {
        text-align: center;
        margin-bottom: 25px;
        }

        .header h1 {
        margin-bottom: 5px;
        }

        .header p {
        margin: 4px 0;
        }

        .foto {
        display: block;
        margin: 0 auto 20px;
        width: 180px;
        height: 220px;
        object-fit: cover;
        border-radius: 8px;
        }

        section {
        margin-bottom: 20px;
        }

        h2 {
        border-bottom: 2px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 10px;
        }

        ul {
        padding-left: 20px;
        }

        .subtitulo {
        font-weight: bold;
        }